body {
    background-color: whitesmoke;
}

#canvas-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    text-align: center;
    /* margin: 10px; */
}

#head {
    padding: 10px;
}


/* break after head */

#br {
    height: 1px;
    background-color: #75797c1c;
    margin-bottom: 12px;
    width: 100%;
}

#facilities {
    font-family: Arial;
    padding: 5px;
}

#inputRow {
    margin-bottom: 5px;
}

.form-inline {
    font-family: 'Acme', sans-serif;
    text-align: center;
}


/* shifts input area to the right */

#recycle-form {
    padding-left: 300px;
}


/* map display */

#map {
    height: 360px;
    width: 100%;
}

footer {
    display: block;
    text-align: center;
    margin-top: 5%;
}