body {
    background-color: whitesmoke;
}

#canvas-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    text-align: center;
    /* margin: 10px; */
}

#head {
    border-color: rgb(61, 59, 59);
    padding: 10px;
}

.form-inline {
    font-family: 'Acme', sans-serif;
    text-align: center;
}

#recycle-form {
    padding-left: 300px;
}

footer {
    display: block;
    text-align: center;
    margin-top: 50%;
}