body {
    background-color: whitesmoke;
}

#canvas-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    text-align: center;
    z-index: 10;
}

.form-inline {
    font-family: 'Acme', sans-serif;
    text-align: center;
}

#recycle-form {
    padding-left: 300px;
}


/* Set the size of the div element that contains the map */

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


/* Optional: Makes the sample page fill the window. */


/* 
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

footer {
    font-family: 'Acme', sans-serif;
    text-align: center;
}